# Ignore everything by default
/*

# But include src and include directories and all their contents
!/src/
!/src/**
!/include/
!/include/**

# Allow PlatformIO project config file
!platformio.ini

# Allow Microsoft Office files anywhere
!**/*.docx
!**/*.xlsx
!**/*.pptx

# Allow Proteus files anywhere
!**/*.dsn
!**/*.pdsprj

# Allow CDHM files
!**/*.cdhm